html {
  font-size:100.01%;
}

body {
  background-color: #F2F2F2;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:0.75em;
  margin: 0;
  padding: 0;
}

body img {
  border: none;
  margin: 0 auto;
}

img.floatLeft {
  float: left;
}

img.floatRight {
  float: right;
}

li.wide {
  padding: 8px 0 0 0;
}

table {
  border: 1px;
  margin: 5px 0;
  vertical-align: top;
}

table tr {
  vertical-align: top;
}

table td, table th  {
  font-size:1em;
  padding: 2px;
  text-align: left;
  vertical-align: top;
}

table.nomargins {
  border: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

table.nomargins tr {
  border: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

table.nomargins td, table th.nomargins  {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  vertical-align: top;
}

td.middle {
  vertical-align: middle;
}

table th {
  background-color: #F2F2F2;
  color: #546654;
}

table.searchlink {
  max-width: 600px;
}

tr.odd {background-color: #eee;}
tr.even {background-color:#fff;}
td.large {font-size:1.3em;}
td.standard {font-size:1em;}
td.small {font-size:0.75em;}

a:link { text-decoration: underline; color: #006633;}
a:visited { text-decoration: underline; color: #669933;}
a:hover { text-decoration: underline; color: #666600;}

.help a:link { text-decoration: none; color: #000000;}
.help a:visited { text-decoration: none; color: #000000;}
.help a:hover { text-decoration: none; color: #555555;}

.helpHeading a:link { text-decoration: none; color: #FFFFFF;}
.helpHeading a:visited { text-decoration: none; color: #FFFFFF;}
.helpHeading a:hover { text-decoration: none; color: #EEEEEE;}

#statusbar {
  background-image:url('statusbar.png');
  color: #444444;
  font-size: .7em;
  font-weight: bold;
  height: 3ex;
  margin: 0;
  padding: 0;
  text-align: right;
}

#titlebar {
  background-color: #006633;
  border-bottom: 1px solid #FFCC00;
  height: 3.5ex;
  margin: 0;
  padding: 0;
  text-align: left;
}

.highlight {
  color: red;
  font-size:10px;
}

.emph {
  color: #006633;
  font-weight: bold;
}

.small {
  font-size:0.75em;
}

h1 {
  color: #006633;
}

h2 {
  color: #006633;
}

h3 {
  color: #006633;
}

td.emph {
  font-weight: bold;
  vertical-align: middle;
}

td.emph a {
  text-decoration: none;
}

td.emph_large {
  font-size:18px;
  font-weight: bold;
}

td.footer {
  font-size: 9px;
  text-align: right;
}

td.publist, td.venuelist, td.catlist {
  padding: 1ex 1ex 1ex 1ex;
  vertical-align: middle;
}

div.field {
  color: black;
  font-weight: bold;
}

div.field:hover {
  color: black;
  text-decoration: underline;
}

div#header {
  background-image:url('header.png');
  color: #006633;
  height:40px;
  min-width:800px;
}

div#header h1 {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 4px 0 0 0;
  text-align: center;
}

div#nav {
  border-bottom: 2px solid #006633;
  border-top: 3px solid #006633;
  clear: left;
  float: left;
  font-size: 0.9em;
  margin: 10px 10px 10px 0;
  padding: 3px 5px 0 0;
  width: 180px;
}

div#nav ul {
  font-size: 1.1em;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;1
}

div#nav li {
  margin-bottom: 4px;
  width:180px;
}

div#nav li a {
  background: #f4f4f4;
  border-left: 4px solid #cccccc;
  color: #006633;
  display: block;
  font-weight: bold;
  height: 20px !important;
  padding: 0 0 0 10px;
  text-decoration: none;
}

div#nav li a:hover, div#nav li a.selected {
  background: #CCCC99;
  border-left: 4px solid #006633;
}

div#sel {
  margin-bottom: 1em;
  margin: 10px auto 0px auto;
  z-index: 1;
}

div#sel ul {
  font-size: 0.9em;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

div#sel li {
  display: inline;
  margin: 0 0.15em;
  position: relative;
}

div#sel li a {
  background: #f4f4f4;
  border-bottom: 0;
  border-left: 4px solid #cccccc;
  color: #006633;
  float: left;
  font-weight: bold;
  height: 3ex;
  padding: 0 0 0 10px;
  text-decoration: none;
  vertical-align: center;
  width: 18ex;
}

div#sel li a:hover,  div#sel li a.selected {
  background: #CCCC99;
  border-left: 4px solid #006633;
  color: #006633;
}


div#selalpha {
  margin-bottom: 1em;
  margin: 10px auto 0px auto;
  z-index: 1;
}

div#selalpha ul {
  font-size: 0.9em;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 2;
}

div#selalpha li {
  display: inline;
  margin: 0 0.15em;
  position: relative;
}

div#selalpha li a {
  background: #f4f4f4;
  border-bottom: 0;
  border-left: 4px solid #cccccc;
  color: #006633;
  float: left;
  font-weight: bold;
  height: 3ex;
  padding: 0 0 0 3px;
  text-align: left;
  text-decoration: none;
  vertical-align: center;
  width: 2ex;
}

div#selalpha li a:hover, div#selalpha li a.selected {
  background: #CCCC99;
  border-left: 4px solid #006633;
  color: #006633;
}

div#selalpha li a:visited {
}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */

div#content {
  background-color: #FFFFFF;
  line-height:1.4;
  margin: 8px 0 5px 200px;
  min-height: 500px;
  min-width: 600px;
  padding: 0 0 3px 0;
  _width: 98%; /* IE6 bug */
}

div#footer {
  background-color: #006633;
  border-top: 2px solid #FFCC00;
  color: #FFFFFF;
  clear: both;
  font-size:.7em;
  font-weight:bold;
  margin: 0;
  min-width:800px;
  padding:4px 0;
  text-align:left;
}

div#footer a:link {
  color: #CCCCCC;
}

div#footer2 {
  background-color: #F2F2F2;
  color: #FFFFFF;
  font-size:.7em;
  font-weight:bold;
  min-width:800px;
  padding:0 0;
  text-align:left;
}


.ualogo {
  float: left;
  line-height : 14px;
  margin-top: 10px;
}

#copyright {
  color: #000000;
  float: right;
  font-size: 0.75em;
  font-weight:normal;
  line-height: 1.2em;
  margin: 5px 0 5px 0;
  text-align: right;
}

#copyright ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

#copyright li {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

.inputCommand {
  width: 60px;
}

.pub_title {
  color: #006633;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.pub_authors {
  font-size: .6em;
  margin: 0;
  padding: 0;
}

pre {
  font-size: 1.25em;
}
