body {
  margin: 3px;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

tr.odd {background-color: #fff;}
tr.even {background-color:#eee;}
td.large {font-size:18px;}
td.standard {font-size:16px;}
td.small {font-size:14px;}

td#formbg { background-image: url(template/header_r2_c2.gif); }

a:link { color: #000099;}
a:visited { color: #000099;}
a:hover { color: #0066FF;}

div#highlight {
  color: red;
  font-size:10px;
}

div#emph {
  font-size:18px;
  font-weight: bold;
}

td#emph {
  font-weight: bold;
}

td#footer {
  font-size:10px;
  text-align: right;
}

div#field {
  color: black;
  font-size:14px;
  font-weight: bold;
}

div#field:hover {
  color: black;
  text-decoration: underline;
}

