body {
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #F2F2F2;
  margin: 0 auto;
  font-size:12px;
}

body img {
	margin: 0 auto;
	border: none;
}

table {
  margin: 5px 0;
  border: 1px;
  vertical-align: top;
  font-size:20px;
}

table tr {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  vertical-align: top;
}

table td, table th  {
  font-size:12px;
  padding: 2px;
  text-align: left;
  vertical-align: top;
}

table.nomargins {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
}

table.nomargins tr {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
}

table.nomargins td, table th.nomargins  {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: left;
  vertical-align: top;
}

td#middle {
  vertical-align: middle;
 }

table th {
	color: #546654;
	background-color: #F2F2F2;
}

tr.odd {background-color: #fff;}
tr.even {background-color:#eee;}
td#large {font-size:1.3em;}
td#standard {font-size:1em;}
td#small {font-size: .5em;}

a:link { text-decoration: underline; color: #000099;}
a:visited { text-decoration: underline; color: #000099;}
a:hover { text-decoration: underline; color: #0066FF;}

.help a:link { text-decoration: none; color: #000000;}
.help a:visited { text-decoration: none; color: #000000;}
.help a:hover { text-decoration: none; color: #555555;}

.helpHeading a:link { text-decoration: none; color: #FFFFFF;}
.helpHeading a:visited { text-decoration: none; color: #FFFFFF;}
.helpHeading a:hover { text-decoration: none; color: #EEEEEE;}

#titlebar {
  /* margin: 0 auto; */
  padding: 0;
  width: 800px;
  height: 20px;
  border-bottom: 1px solid #FFCC00;
  background-color: #006633;
  text-align: left;
}

div#highlight {
  color: red;
  font-size:10px;
}

div#emph {
  font-weight: bold;
}

div#small {
  font-size:9px;
}

td#emph {
  font-weight: bold;
}

td#emph a {
  text-decoration: none;
}

td#emph_large {
  font-weight: bold;
  font-size:18px;
}

td#footer {
  font-size: 9px;
  text-align: right;
}

div#field {
  color: black;
  font-weight: bold;
}

div#field:hover {
  color: black;
  text-decoration: underline;
}

div#header {
  height:40px;
  width:800px;
  background-color: #EAE9DA;
  color: #006633;
}

div#header h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top:0px;
}

div#nav {
  background-color: #EBEBEB;
  position:absolute;
  left:0px;
  top:70px;
  width:180px;
  padding:0 0 .4em 0;
  margin:0 0 0 0;
  font-weight:bold;
  border-top: 3px solid #006633;
  border-bottom: 2px solid #006633;
}

div#nav h2 {
  margin: 0;
  padding: 4px 9px 3px 9px;
  color: #FFFFCC;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: normal;
  line-height: 0.9em;
  background-color: #336633;
  border: none;
}

div#nav ul {
  margin: 0 0 12px 0;
  list-style: none;
}

div#nav li {
  margin-bottom:.1em;
  list-style: none;
  /* text-indent: -3em; */
  text-indent: 0;
  font-weight:bold;
  line-height: 1.3em;
}

div#content {
  margin-top:8px;
  margin-left:200px;
  min-height: 240px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 600px;
  background-color: #FFFFFF;
}

div#footer {
  font-weight:bold;
  width:800px;
  padding:4px 0;
  font-size:.7em;
  text-align:left;
  background-color: #006633;
  color: #FFFFFF;
  border-top: 2px solid #FFCC00;
}

div#footer a:link {
  color: #CCCCCC;
}


.ualogo {
  line-height : 14px;
  float: left;
  margin-top: 10px;
}

#copyright {
  margin: 5px 0 5px 0;
  font-size: 0.9em;
  float: right;
  text-align: right;
  line-height: 1.2em;
  color: #000000;
  font-weight:normal;
}

#copyright ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#copyright li {
	list-style: none !important;
	margin: 0;
	padding: 0;
}

.inputCommand {
  width: 60px;
}

#pub_title {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#pub_authors {
  font-size: .6em;
  margin: 0;
  padding: 0;
}
